In [7]:
import os, pandas as pd

with open('../test.txt', 'r') as fp:
    data=fp.readlines()
X = []
for line in data:
    X.append(line.split(' ')[0])

df = pd.read_csv('results/ViTRes50-1024-16-gmlp-im256.pth_test.csv')

y=df['0'].values

for fn in X:
    if '../data/test/'+fn not in y:
        print(fn, 'not found')

In [5]:
df

      Unnamed: 0                                                  0  1
0              0  ../data/test/4f8c2cfc-6b03-41db-98a1-659b921883d0  0
1              1  ../data/test/72418d6a-1fa4-4a33-ae27-dd6b363a72ce  1
2              2  ../data/test/cbabc767-65bf-4870-84c4-b1e447adbb6c  0
3              3  ../data/test/31be9693-4e92-496a-bae3-e74813a70abc  0
4              4  ../data/test/9b21da17-3bb5-40da-8698-9b6c992f91f9  0
...          ...                                                ... ..
3371        3371  ../data/test/1de58bf3-ee97-4b44-8487-f9bebde70d49  1
3372        3372  ../data/test/99660e99-baa0-484a-b8a8-890c008f0a9b  0
3373        3373  ../data/test/348e2ad0-a2b9-4341-91e4-26aa0e67ade2  1
3374        3374  ../data/test/44a373d0-18ca-4604-a5b5-91eb775fa623  0
3375        3375  ../data/test/417e6ada-d195-451a-ba13-ca18d34a4a2f  0

[3376 rows x 3 columns]